@import "../../styles/variables.scss";

.SingleMovie {
  display: flex;

  .SingleMovie_Info {
    width: 50vw;
    text-align: left;
    padding: $padding-default;
  }

  .Image {
    width: 50vw;
  }
}

.Seances {
  .Seances_Hour {
    justify-content: space-between;
    display: flex;
  }
}
