@import "../../styles/variables.scss";

.SingleMovie {
  display: flex;

  .SingleMovie_Info {
    width: 50vw;
    text-align: left;
    padding: $padding-default;
  }

  .Image {
    width: 50vw;
  }
}

.Item_Details {
  &:hover {
    h3 {
      color: $color-primary;
    }
  }
}

.Seances {
  .Seances_Hour {
    justify-content: space-between;
    display: flex;

    &:hover {
      p {
        color: $color-primary;
      }
    }
  }

  .ytp-show-cards-title,
  .ytp-title-channel {
    opacity: 0.5;
  }
}

.SingleMovie_VideoContainer {
  height: 670px;
  overflow: hidden;

  .SingleMovie_Iframe {
    position: relative;
    top: -70px;
    width: 100%;
    height: 720px;
    // opacity: 0.5;
  }
}
