// COLOR VARIABLES
$color-background: black;
$color-primary: #bf2a2a;
$text-color-default: white;

// MEDIA VARIABLES
$media-width-mobile-max: 450px;

// SIZE VARIABLES
$padding-default: 2rem;
$content-width-max: 600px;

// ELEMENT SIZE VARIABLES
$size-navBar-height: 55px;
